<div class="flex-container">
  <form  [formGroup]="RegForm">
    <div class="register">
      <div>
        <mat-form-field class="inputs">
          <mat-label>Login</mat-label>
          <input matInput required formControlName="loginName" type="text" id="login" [(ngModel)]="userAc.loginName">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="inputs">
          <mat-label>Password</mat-label>
          <input matInput required formControlName="userPassword" type="password" [(ngModel)]="userAc.userPassword">
        </mat-form-field>
      </div>
      <div >
        <mat-form-field class="inputs">
          <mat-label>Confirm Password</mat-label>
          <input matInput required  formControlName="confirm_password" type="password" [(ngModel)]="userAc.confirmPassword">
        </mat-form-field>
      </div>
      <button mat-flat-button class="buttons" (click)="setIdStudent()" [disabled]="RegForm.errors?.identityRevealed || !RegForm.valid">Register</button>
    </div>
  </form>
</div>
