@import '~@angular/material/theming';

@include mat-core();

$tulgulk-primary: mat-palette($mat-indigo);
$tulgulk-accent: mat-palette($mat-pink, A200, A100, A400);
$tulgulk-custom-buttons-color: mat-palette($mat-amber);
$tulgulk-custom-buttons-bcolor: mat-palette($mat-lime);
$tulgulk-warn: mat-palette($mat-red);

$tulgulk-theme: mat-light-theme((
  color: (
    custom-button-bc:$tulgulk-custom-buttons-bcolor,
    custom-button: $tulgulk-custom-buttons-color,
    primary: $tulgulk-primary,
    accent: $tulgulk-accent,
    warn: $tulgulk-warn,
  )
));

@include angular-material-theme($tulgulk-theme);

.buttons{
  background-color: rgba( 86, 147, 211, 0.8);
  color: #FFFFFF;
}
*{
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

