<div class="flex-container">
  <form  [formGroup]="loginForm">
    <div class="avtoriz">
      <div>
        <mat-form-field class="inputs">
          <mat-label>Login</mat-label>
          <input matInput required formControlName="login" type="text" id="login" [(ngModel)]="userAc.username">
        </mat-form-field>
      </div>
      <div >
        <mat-form-field class="inputs">
          <mat-label>Password</mat-label>
          <input matInput required formControlName="password" id="pass" type="password" [(ngModel)]="userAc.password">
        </mat-form-field>
      </div>
      <div><button mat-flat-button class="buttons" [disabled]="!loginForm.valid" (click)="SetTokenStudent()" >Sign In</button></div>
      <div><button mat-flat-button class="buttons" id="reg_button" [routerLink]="['/register']">Register</button></div>
    </div>
  </form>
</div>

