.flex-container{
  display: flex;
  justify-content: center;
  margin-top: 15%;
}
.avtoriz .inputs{
  max-width: 200px;
  width: 100%;
}
button{
  width: 120px;
  height: 35px;
  margin-left: 20px;
  background-color: slateblue;
  color: #FFFFFF;
}
div #reg_button{
  margin-top: 15px;
}
