<mat-toolbar class="color-toolbar">
    <button mat-icon-button class="menu-button" [routerLink]="['/']">
      <mat-icon>menu</mat-icon>
    </button>
      <span>TSU LK</span>
    <span class="example-spacer"></span>
    <button mat-flat-button color="custom-button" class="buttons" [routerLink]="['/personal-info']">Main</button>
    <button mat-flat-button color="custom-button" class="buttons"  [routerLink]="['/timetable']">Timetable of classes</button>
    <button mat-flat-button color="custom-button" class="buttons"  [routerLink]="['/auth']">Login</button>
    <button mat-flat-button color="custom-button" class="buttons"  [routerLink]="['/register']">Register</button>
    <button mat-flat-button class="custom-button" class="buttons" [value]=""  *ngIf="user !== null" (click)="logout()"
            [routerLink]="['/auth']">Logout</button>
</mat-toolbar>
