.flex-container{
  display: flex;
  justify-content: center;
}
.photo{
  width: 250px;
  height: 250px;
}
.info div{
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.info span{
  max-width: 200px;
  width: 100%;
  padding-top: 16px;
}
.info .selects, .info .inputs{
  margin-left: 5px;
  max-width: 200px;
  width: 100%;
}
.upload-photo input{
  margin: 10px;
}
.upload-photo button{
  margin-left: 2.5px;
  width: 120px;
  height: 35px;
}
.methods button{
  margin-left: 20px;
  width: 120px;
  height: 35px;
}
.upload-photo #backto{
  margin-top: 5px;
  width: 242.5px;
  height: 35px;
}

