<div class="flex-container">
  <div class="upload-photo">
    <img class="photo" src="../../../../../assets/user.png" alt=""><br>
    <div>
      <button mat-button color="primary" class="buttons">Select File</button>
      <button mat-button color="accent" class="buttons">or Drop file here</button>
    </div>
    <button mat-button color="warn" id="backto" class="buttons">Back to employee</button>
  </div>
  <div class="info">
    <div><span>Last Name:</span>
      <mat-form-field class="inputs">
        <mat-label>Input your last name.</mat-label>
        <input matInput type="text" id="name" [(ngModel)]="student.name">
      </mat-form-field>
    </div>
    <div><span>First Name:</span>
      <mat-form-field class="inputs">
        <mat-label>Input your first name.</mat-label>
        <input matInput type="text" id="surname" [(ngModel)]="student.surname">
      </mat-form-field>
    </div>
    <div><span>Profile Category:</span>
      <mat-form-field class="selects">
        <mat-label>Choose one</mat-label>
        <mat-select id="profile-category" [(ngModel)]="student.profile">
          <mat-option [value]="0">Student</mat-option>
          <mat-option [value]="1">Prep</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div><span>Gender:</span>
      <mat-form-field class="selects">
        <mat-label>Choose your gender.</mat-label>
        <mat-select id="gender" [(ngModel)]="student.gender">
          <mat-option [value]="0">Male</mat-option>
          <mat-option [value]="1">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div><span>Birthdate:</span>
      <mat-form-field class="inputs">
        <mat-label>Please input your birthdate.</mat-label>
        <input matInput type="date" id="bd" [ngModel]="student.bd|date: 'yyyy-MM-dd'" (ngModelChange)="student.bd = $event">
      </mat-form-field>
    </div>
    <div><span>Homecountry:</span>
      <mat-form-field class="selects">
        <mat-label>Choose your homecountry.</mat-label>
        <mat-select id="hcountry" [(ngModel)]="student.hcountry">
          <mat-option [value]="0">Russian Federation</mat-option>
          <mat-option [value]="1">USA</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div><span>Facult:</span>
      <mat-form-field class="selects">
        <mat-label>Choose your facult</mat-label>
        <mat-select id="facult" [(ngModel)]="student.facult">
          <mat-option [value]="0">VT</mat-option>
          <mat-option [value]="1">IPY</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div><span>Local/Global:</span>
      <mat-form-field class="selects">
        <mat-label>Choose your city.</mat-label>
        <mat-select id="branch" [(ngModel)]="student.lglob">
          <mat-option [value]="0">Tula</mat-option>
          <mat-option [value]="1">Kimovsk</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div><span>Areas of expertise:</span>
      <mat-form-field class="selects">
        <mat-label>Choose your area of expertise</mat-label>
        <mat-select id="local-global" [(ngModel)]="student.area">
          <mat-option [value]="0">Global</mat-option>
          <mat-option [value]="1">Local</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="info">
    <div><span>Phone:</span>
      <mat-form-field class="inputs">
        <mat-label>Your phone.</mat-label>
        <input matInput type="tel" id="phone"  placeholder="5-55-55" [(ngModel)]="student.phone">
      </mat-form-field>
    </div>
    <div><span>Mobile Phone:</span>
      <mat-form-field class="inputs">
        <mat-label>Your mobile phone.</mat-label>
        <span matPrefix>+7 &nbsp;</span>
        <input matInput type="tel" id="mphone" placeholder="999-999-9090" [(ngModel)]="student.mphone">
      </mat-form-field>
    </div>
    <div><span>Ext:</span>
      <mat-form-field class="inputs">
        <mat-label>Your ext.</mat-label>
        <input matInput type="text" id="ext" [(ngModel)]="student.ext">
      </mat-form-field>
    </div>
    <div><span>Email:</span>
      <mat-form-field class="inputs">
        <mat-label>Your email.</mat-label>
        <input matInput type="email" id="email" placeholder="test.@test.com" [(ngModel)]="student.email">
      </mat-form-field>
    </div>
    <div><span>Skype:</span>
      <mat-form-field class="inputs">
        <mat-label>Your skype.</mat-label>
        <input matInput type="text" id="skype" [(ngModel)]="student.skype">
      </mat-form-field>
    </div>
    <div><span>Started Learn:</span>
      <mat-form-field class="inputs">
        <mat-label>Please input your date started learn.</mat-label>
        <input matInput type="date" placeholder="1.09.2019" id="stlern" [ngModel]="student.stlern|date: 'yyyy-MM-dd'" (ngModelChange)="student.stlern = $event">
      </mat-form-field>
    </div>
  </div>
</div>
<button mat-button color="primary" class="methods" (click)="getStudents()">Get</button>
<button mat-button color="primary" class="methods" (click)="updateStudent()">Save Changes</button>



